/* this is styleA.css for assignment01 in CS142 */
html {
	height: 100%;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	height: 100%;
}
.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.box {
	/* use min, max height to prevent overlop and resize of boxes */
	width: 100px;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #687291;
	text-align: center;
}
.A {
	/* specific setup in odd boxes */
	background-color: #dfe1e7;

}
.B {
	/* specific setup in even boxes */
	background-color: #eeeff2;
}

.F {
	/* specific setup in last box */
	border: 4px;
	border-color: black;
	border-style: solid;
	vertical-align: middle;
	line-height: 100px;
	background-color: #687291;
}