/* this is styleC.css for assignment01 in CS142 
	in this file, I use transition in F box and gradients for colors in other boxes.	
*/
html {
	height: 100%;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	height: 100%;
}
.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.box {
	/* use min, max height to prevent overlop and resize of boxes */
	width: 100px;
	height: 100px;
	min-height: 100px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #687291;
	text-align: center;
}
.A {
	/* use gradient for background color */
	background-image: linear-gradient(yellow,green);

}
.B {
	/* use gradient for background color */
	background-image: linear-gradient(white,red);
}

.F {
	/* use transition to show change for hover in F box */
	border: 4px;
	border-color: black;
	border-style: solid;
	vertical-align: middle;
	line-height: 100px;
	background-color: #687291;
	transition: width 3s, height 3s;
}

/* use for transition */
.F:hover {
	background-color: yellow;
	cursor: pointer;
	width: 130px;
	height:160px;
}